<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.artistic_talent.eatnow.eatnow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.artistic_talent.eatnow.eatnow.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.artistic_talent.eatnow.eatnow.SignInActivity" />
        <activity android:name="com.artistic_talent.eatnow.eatnow.SignUpActivity" />
        <activity
            android:name="com.artistic_talent.eatnow.eatnow.MenuActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.artistic_talent.eatnow.eatnow.CartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.artistic_talent.eatnow.eatnow.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.artistic_talent.eatnow.eatnow.PaymentActivity" />
        <activity android:name="com.artistic_talent.eatnow.eatnow.AdminActivity" />
        <activity android:name="com.artistic_talent.eatnow.eatnow.RobotActivity" />
    </application>

</manifest>